    /*Limpar formatações padrões*/
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-size: 1em;
        font-family: Trebuchet MS, MontSerrat, Ubuntu, sans-serif;
        background-color: rgb(235, 235, 235);
    }
    /*
****Layout****
*/
    
    #area-cabecalho {
        background-color: #f7b600;
        padding: 15px;
        text-align: center;
        font-weight: bold;
    }
    
    #area-logo,
    #area-menu {
        padding: 10px;
    }
    
    #area-principal {
        width: 920px;
        margin: 0 auto;
    }
    
    #area-postagens,
    #area-lateral {
        background: white;
    }
    
    #area-postagens {
        width: 660px;
        float: left;
    }
    
    #area-lateral {
        width: 240px;
        float: right;
    }
    
    .postagem {
        padding: 20px;
        margin-bottom: 20px;
        background: white;
    }
    
    #rodape {
        background: gray;
        clear: both;
        text-align: center;
        padding: 15px;
        font-weight: bold;
    }
    /*
*** *Formatação Menu***
*/
    
    a {
        text-decoration: none;
    }
    
    a:link,
    a:visited {
        color: white;
        padding: 8px 12px;
    }
    
    a:hover {
        color: #f7b600;
        background-color: white;
        padding: 10px;
    }
    /*
*** *Formatação Geral***
*/
    
    * h1 {
        font-size: 2.5em;
    }
    
    .branco {
        color: white;
    }