@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-width: 375px;
    max-width: 1400px;
    border: 1px solid red;
    margin: 0 auto;
    padding: 0;
}

span {
    color: gray;
}

h3 {
    padding: 0 5px;
}

.hero {
    text-align: center;
    background-color: white;
    width: 250px;
    margin: 5em auto;
    border-radius: 5%;
    padding: 20px;
}

img {
    width: 250px;
    border-radius: 5%;
}