@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-bg {
    background: #307D99 url('../imagem/bg.jpg');
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

header {
    padding: 1em 0;
}

.hero-bg a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
}